doctype html
html(lang='en')
  head
    title Grecha's pug
  body
    h4#author(title='GossJS') Sophia Kramar
    h1 Login list
    #container
      p Список логинов:
      ol
        each item in items
          li= item.login